<!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/contact.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Cherish
              </h2>
            </div>
            <p>
              If you have questions or special inquiries, you're welcome to contact me
            </p>
              </a>
              <a href="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                  Call +01 1234567890
                </span>
              </a>
              <a href="">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                  demo@gmail.com
                </span>
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->