<!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/contact.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are Cherish
              </h2>
            </div>
            <p>
              If you have questions or special inquiries, you're welcome to contact me or fill out this form
            </p>
            <div class="form_container">
              <form action="">
                <div>
                  <input type="text" class="form-control" placeholder="Your Name" />
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your Phone" />
                </div>
                <div>
                  <input type="email" class="form-control" placeholder="Your Email" />
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Your Message" />
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->